linkedin-workflow4746.json
{"name":"Company Decision Makers Enrichment Pipeline","nodes":[{"parameters":{"content":"## 🔍 Company Decision Makers Enrichment Pipeline\n\n**What it does:** Takes a list of company names from Google Sheets, enriches each with website and LinkedIn data, then extracts key decision makers (Directors, VPs, C-level) for targeted outreach.\n\n**Input:** Google Sheet with column 'company_name' containing company names\n\n**Output:** Google Sheet with enriched company data + decision makers (name, title, email, LinkedIn, company info)\n\n**Scalability:** Processes companies in batches of 10 with 2-second delays to avoid rate limits\n\n**Setup:**\n1. Get API key from https://linkfinderai.com\n2. Replace YOUR_API_KEY_HERE in all LinkFinder AI nodes\n3. Connect your Google account and configure Sheet IDs\n4. Set input sheet with company names in column A\n5. Create output sheet with headers: Company, Website, LinkedIn URL, Industry, Size, Employee Name, Employee Title, Employee Email, Employee LinkedIn\n\n**Services used:**\n- company_name_to_website\n- company_name_to_linkedin_url\n- linkedin_company_to_linkedin_info\n- company_domain_to_employees\n\n**Perfect for:** Sales teams building targeted prospect lists, ABM campaigns, executive outreach programs","height":580,"width":400,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[180,200],"name":"📖 Documentation"},{"parameters":{"manual":true},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[620,460],"name":"Manual Trigger"},{"parameters":{"documentId":{"__rl":true,"mode":"id","value":"YOUR_INPUT_SHEET_ID"},"sheetName":{"__rl":true,"mode":"list","value":"Sheet1"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[840,460],"name":"Read Companies from Sheet"},{"parameters":{"batchSize":10,"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1060,460],"name":"Process in Batches of 10"},{"parameters":{"method":"POST","url":"https://api.linkfinderai.com","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer YOUR_API_KEY_HERE"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"type","value":"company_name_to_website"},{"name":"input_data","value":"={{ $json.company_name }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,460],"name":"LinkFinder AI - Get Website"},{"parameters":{"assignments":{"assignments":[{"id":"company_name","name":"company_name","value":"={{ $('Process in Batches of 10').item.json.company_name }}","type":"string"},{"id":"website","name":"website","value":"={{ $json.result }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1500,460],"name":"Store Website"},{"parameters":{"method":"POST","url":"https://api.linkfinderai.com","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer YOUR_API_KEY_HERE"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"type","value":"company_name_to_linkedin_url"},{"name":"input_data","value":"={{ $json.company_name }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1720,460],"name":"LinkFinder AI - Get LinkedIn URL"},{"parameters":{"assignments":{"assignments":[{"id":"company_name","name":"company_name","value":"={{ $json.company_name }}","type":"string"},{"id":"website","name":"website","value":"={{ $json.website }}","type":"string"},{"id":"linkedin_url","name":"linkedin_url","value":"={{ $json.result }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1940,460],"name":"Store LinkedIn URL"},{"parameters":{"method":"POST","url":"https://api.linkfinderai.com","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer YOUR_API_KEY_HERE"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"type","value":"linkedin_company_to_linkedin_info"},{"name":"input_data","value":"={{ $json.linkedin_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,460],"name":"LinkFinder AI - Scrape Company Info"},{"parameters":{"assignments":{"assignments":[{"id":"company_name","name":"company_name","value":"={{ $('Store LinkedIn URL').item.json.company_name }}","type":"string"},{"id":"website","name":"website","value":"={{ $('Store LinkedIn URL').item.json.website }}","type":"string"},{"id":"linkedin_url","name":"linkedin_url","value":"={{ $('Store LinkedIn URL').item.json.linkedin_url }}","type":"string"},{"id":"industry","name":"industry","value":"={{ $json.industry || 'N/A' }}","type":"string"},{"id":"company_size","name":"company_size","value":"={{ $json.size || $json.employeeCount || 'N/A' }}","type":"string"},{"id":"description","name":"description","value":"={{ $json.description || 'N/A' }}","type":"string"},{"id":"domain","name":"domain","value":"={{ $('Store LinkedIn URL').item.json.website.replace('https://', '').replace('http://', '').replace('www.', '').split('/')[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2380,460],"name":"Merge Company Data"},{"parameters":{"method":"POST","url":"https://api.linkfinderai.com","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer YOUR_API_KEY_HERE"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"type","value":"company_domain_to_employees"},{"name":"input_data","value":"={{ $json.domain }}"},{"name":"seniority","value":"director,vp,cxo,owner,partner"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,460],"name":"LinkFinder AI - Get Decision Makers"},{"parameters":{"jsCode":"const companyData = $('Merge Company Data').item.json;\nconst employees = $input.first().json.result || [];\n\nconst output = [];\n\nif (Array.isArray(employees) && employees.length > 0) {\n  for (const emp of employees) {\n    output.push({\n      json: {\n        company_name: companyData.company_name,\n        website: companyData.website,\n        linkedin_url: companyData.linkedin_url,\n        industry: companyData.industry,\n        company_size: companyData.company_size,\n        employee_name: emp.name || emp.fullName || 'N/A',\n        employee_title: emp.title || emp.jobTitle || 'N/A',\n        employee_email: emp.email || 'N/A',\n        employee_linkedin: emp.linkedin || emp.linkedinUrl || emp.profile_url || 'N/A'\n      }\n    });\n  }\n} else {\n  output.push({\n    json: {\n      company_name: companyData.company_name,\n      website: companyData.website,\n      linkedin_url: companyData.linkedin_url,\n      industry: companyData.industry,\n      company_size: companyData.company_size,\n      employee_name: 'No decision makers found',\n      employee_title: 'N/A',\n      employee_email: 'N/A',\n      employee_linkedin: 'N/A'\n    }\n  });\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2820,460],"name":"Format Decision Makers"},{"parameters":{"documentId":{"__rl":true,"mode":"id","value":"YOUR_OUTPUT_SHEET_ID"},"sheetName":{"__rl":true,"mode":"list","value":"Sheet1"},"columns":{"mappingMode":"defineBelow","value":{"Company":"={{ $json.company_name }}","Website":"={{ $json.website }}","LinkedIn URL":"={{ $json.linkedin_url }}","Industry":"={{ $json.industry }}","Company Size":"={{ $json.company_size }}","Employee Name":"={{ $json.employee_name }}","Employee Title":"={{ $json.employee_title }}","Employee Email":"={{ $json.employee_email }}","Employee LinkedIn":"={{ $json.employee_linkedin }}"}},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3040,460],"name":"Write to Output Sheet"},{"parameters":{"amount":2,"unit":"seconds"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3260,460],"name":"Wait 2 Seconds"},{"parameters":{"assignments":{"assignments":[{"id":"status","name":"batch_status","value":"completed","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3480,460],"name":"Batch Complete"}],"connections":{"Manual Trigger":{"main":[[{"node":"Read Companies from Sheet","type":"main","index":0}]]},"Read Companies from Sheet":{"main":[[{"node":"Process in Batches of 10","type":"main","index":0}]]},"Process in Batches of 10":{"main":[[{"node":"LinkFinder AI - Get Website","type":"main","index":0}]]},"LinkFinder AI - Get Website":{"main":[[{"node":"Store Website","type":"main","index":0}]]},"Store Website":{"main":[[{"node":"LinkFinder AI - Get LinkedIn URL","type":"main","index":0}]]},"LinkFinder AI - Get LinkedIn URL":{"main":[[{"node":"Store LinkedIn URL","type":"main","index":0}]]},"Store LinkedIn URL":{"main":[[{"node":"LinkFinder AI - Scrape Company Info","type":"main","index":0}]]},"LinkFinder AI - Scrape Company Info":{"main":[[{"node":"Merge Company Data","type":"main","index":0}]]},"Merge Company Data":{"main":[[{"node":"LinkFinder AI - Get Decision Makers","type":"main","index":0}]]},"LinkFinder AI - Get Decision Makers":{"main":[[{"node":"Format Decision Makers","type":"main","index":0}]]},"Format Decision Makers":{"main":[[{"node":"Write to Output Sheet","type":"main","index":0}]]},"Write to Output Sheet":{"main":[[{"node":"Wait 2 Seconds","type":"main","index":0}]]},"Wait 2 Seconds":{"main":[[{"node":"Batch Complete","type":"main","index":0}]]},"Batch Complete":{"main":[[{"node":"Process in Batches of 10","type":"main","index":0}]]}},"pinData":{}}