linkedin-workflow2895.json
{"name":"Daily Lead Generation Machine - Wake Up to Fresh Prospects","nodes":[{"parameters":{"content":"## 🚀 Daily Lead Generation Machine\n\n**What it does:** Every morning at 8 AM, automatically finds up to 100 qualified B2B leads matching your target criteria, filters out invalid emails, saves to Google Sheets, and optionally sends to your outreach tool.\n\n**Input:** Natural language description of your ideal customer profile (ICP)\n\n**Output:** 50-100 enriched leads daily with:\n- Full name\n- Verified email\n- Job title\n- Company name\n- LinkedIn URL\n\n**Scalability:** Processes up to 100 leads per day, 3000+ per month on autopilot\n\n**Setup:**\n1. Get API key from https://linkfinderai.com\n2. Replace YOUR_API_KEY_HERE in LinkFinder AI node\n3. Edit your target description in 'Define Target ICP' node\n4. Connect your Google Sheets (create sheet with columns: Name, Email, Title, Company, LinkedIn, Date)\n5. Optional: Connect Lemlist for auto-outreach\n6. Activate the workflow\n\n**Services used:** leads_finder_ai\n\n**Perfect for:**\n- SDRs who want fresh leads daily\n- Founders doing outbound prospecting\n- Agencies managing multiple campaigns\n- Anyone tired of manual lead sourcing","height":580,"width":400,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[250,180],"name":"📖 Documentation"},{"parameters":{"rule":{"interval":[{"field":"hours","hour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[700,400],"name":"Daily 8 AM Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"target","name":"targetDescription","value":"Head of Marketing in B2B SaaS companies in France with 50-500 employees","type":"string"},{"id":"count","name":"leadCount","value":"100","type":"string"},{"id":"date","name":"searchDate","value":"={{ $now.format('yyyy-MM-dd') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[920,400],"name":"Define Target ICP"},{"parameters":{"method":"POST","url":"https://api.linkfinderai.com","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer YOUR_API_KEY_HERE"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"type","value":"leads_finder_ai"},{"name":"input_data","value":"={{ $json.targetDescription }}"},{"name":"count","value":"={{ $json.leadCount }}"}]},"options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,400],"name":"LinkFinder AI - Find Leads"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Extract leads array from API response\nconst response = $input.item.json;\nconst searchDate = $('Define Target ICP').item.json.searchDate;\n\n// Handle different response structures\nlet leads = [];\n\nif (response.result && Array.isArray(response.result)) {\n  leads = response.result;\n} else if (response.leads && Array.isArray(response.leads)) {\n  leads = response.leads;\n} else if (Array.isArray(response)) {\n  leads = response;\n}\n\n// Return each lead as separate item for processing\nreturn leads.map(lead => ({\n  json: {\n    fullName: lead.fullName || lead.name || '',\n    email: lead.email || '',\n    jobTitle: lead.jobTitle || lead.title || '',\n    companyName: lead.companyName || lead.company || '',\n    linkedinUrl: lead.linkedinUrl || lead.linkedin || '',\n    searchDate: searchDate\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,400],"name":"Extract Leads Array"},{"parameters":{"batchSize":25,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1580,400],"name":"Process in Batches"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"email-exists","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty"}},{"id":"email-valid","leftValue":"={{ $json.email }}","rightValue":"@","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1800,400],"name":"Filter Valid Emails"},{"parameters":{"assignments":{"assignments":[{"id":"name","name":"Name","value":"={{ $json.fullName }}","type":"string"},{"id":"email","name":"Email","value":"={{ $json.email }}","type":"string"},{"id":"title","name":"Title","value":"={{ $json.jobTitle }}","type":"string"},{"id":"company","name":"Company","value":"={{ $json.companyName }}","type":"string"},{"id":"linkedin","name":"LinkedIn","value":"={{ $json.linkedinUrl }}","type":"string"},{"id":"date","name":"Added Date","value":"={{ $json.searchDate }}","type":"string"},{"id":"status","name":"Status","value":"New","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2020,400],"name":"Format for Sheet"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Leads","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.Name }}","Email":"={{ $json.Email }}","Title":"={{ $json.Title }}","Company":"={{ $json.Company }}","LinkedIn":"={{ $json.LinkedIn }}","Added Date":"={{ $json['Added Date'] }}","Status":"={{ $json.Status }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn","displayName":"LinkedIn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Added Date","displayName":"Added Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2240,400],"name":"Save to Google Sheets"},{"parameters":{"assignments":{"assignments":[{"id":"batch","name":"batchProcessed","value":"={{ $json.Name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2460,400],"name":"Loop Continue"},{"parameters":{"aggregate":"aggregateAllItemData","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Name"},{"fieldToAggregate":"Email"},{"fieldToAggregate":"Company"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2680,400],"name":"Aggregate Results"},{"parameters":{"assignments":{"assignments":[{"id":"total","name":"totalLeadsAdded","value":"={{ $json.Name ? $json.Name.length : 0 }}","type":"number"},{"id":"date","name":"processedDate","value":"={{ $now.format('yyyy-MM-dd HH:mm') }}","type":"string"},{"id":"msg","name":"summary","value":"={{ $json.Name ? $json.Name.length : 0 }} new qualified leads added to your sheet!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2900,400],"name":"Daily Summary"},{"parameters":{"content":"## 📧 Optional: Auto-Outreach\n\nConnect this section to automatically send leads to your email tool.\n\n**To enable:**\n1. Add Lemlist/Instantly credentials\n2. Connect 'Save to Google Sheets' output to Lemlist node\n3. Map fields to your campaign\n\n**Recommendation:** Start with Google Sheets only, review leads first, then enable auto-outreach once you trust the quality.","height":260,"width":320,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2200,620],"name":"📧 Outreach Note"},{"parameters":{"content":"## ⚙️ Configuration Tips\n\n**Target Description Examples:**\n- \"Head of Marketing in B2B SaaS, France, 50-500 employees\"\n- \"VP Sales at fintech startups in Germany\"\n- \"Founders of AI companies in the US, Series A-B\"\n- \"HR Directors at manufacturing companies, UK\"\n\n**Best Practices:**\n- Be specific about industry, role, and geography\n- Start with 50 leads/day to test quality\n- Add company size for better targeting\n- Review first batch before scaling up","height":320,"width":320,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[700,620],"name":"⚙️ Config Tips"}],"connections":{"Daily 8 AM Trigger":{"main":[[{"node":"Define Target ICP","type":"main","index":0}]]},"Define Target ICP":{"main":[[{"node":"LinkFinder AI - Find Leads","type":"main","index":0}]]},"LinkFinder AI - Find Leads":{"main":[[{"node":"Extract Leads Array","type":"main","index":0}]]},"Extract Leads Array":{"main":[[{"node":"Process in Batches","type":"main","index":0}]]},"Process in Batches":{"main":[[{"node":"Filter Valid Emails","type":"main","index":0}]]},"Filter Valid Emails":{"main":[[{"node":"Format for Sheet","type":"main","index":0}]]},"Format for Sheet":{"main":[[{"node":"Save to Google Sheets","type":"main","index":0}]]},"Save to Google Sheets":{"main":[[{"node":"Loop Continue","type":"main","index":0}]]},"Loop Continue":{"main":[[{"node":"Process in Batches","type":"main","index":0}]]},"Aggregate Results":{"main":[[{"node":"Daily Summary","type":"main","index":0}]]}},"pinData":{}}