linkedin-workflow4387.json
{
  "name": "Batch Lead Finder - Names to LinkedIn Profiles",
  "nodes": [
    {
      "parameters": {
        "content": "## 🔍 Batch Lead Finder\\n\\n**What it does:** Converts a list of names + companies into fully enriched LinkedIn profiles\\n\\n**Input:** Array of leads with name and company (processes 50+ leads)\\n\\n**Output:** Complete LinkedIn profiles with email, job title, company info for ALL leads\\n\\n**Scalability:** Processes leads in batches of 10, handles 100+ leads efficiently\\n\\n**Setup:**\\n1. Get API key from https://linkfinderai.com\\n2. Replace YOUR_API_KEY_HERE in all LinkFinder AI nodes\\n3. Edit input data with your lead list\\n4. Test the workflow\\n\\n**Services used:** lead_full_name_to_linkedin_url, linkedin_profile_to_linkedin_info\\n\\n**Perfect for:** B2B lead enrichment, sales prospecting, building contact databases at scale",
        "height": 420,
        "width": 380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [250, 240],
      "name": "📖 Documentation"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [680, 460],
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "leads",
              "name": "leads",
              "value": "={{ [{\"name\": \"Satya Nadella\", \"company\": \"Microsoft\"}, {\"name\": \"Sundar Pichai\", \"company\": \"Google\"}, {\"name\": \"Tim Cook\", \"company\": \"Apple\"}, {\"name\": \"Andy Jassy\", \"company\": \"Amazon\"}, {\"name\": \"Mark Zuckerberg\", \"company\": \"Meta\"}, {\"name\": \"Jensen Huang\", \"company\": \"Nvidia\"}, {\"name\": \"Elon Musk\", \"company\": \"Tesla\"}, {\"name\": \"Marc Benioff\", \"company\": \"Salesforce\"}, {\"name\": \"Shantanu Narayen\", \"company\": \"Adobe\"}, {\"name\": \"Reed Hastings\", \"company\": \"Netflix\"}] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 460],
      "name": "Input - Lead List"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1120, 460],
      "name": "Split Into Batches"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "lead_full_name_to_linkedin_url"
            },
            {
              "name": "input_data",
              "value": "={{ $json.name + ' ' + $json.company }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 460],
      "name": "LinkFinder AI - Find LinkedIn URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "linkedin_profile_to_linkedin_info"
            },
            {
              "name": "input_data",
              "value": "={{ $json.result }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 460],
      "name": "LinkFinder AI - Get Full Profile"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "originalName",
              "name": "originalName",
              "value": "={{ $node[\"Split Into Batches\"].json.name }}",
              "type": "string"
            },
            {
              "id": "originalCompany",
              "name": "originalCompany",
              "value": "={{ $node[\"Split Into Batches\"].json.company }}",
              "type": "string"
            },
            {
              "id": "linkedinUrl",
              "name": "linkedinUrl",
              "value": "={{ $node[\"LinkFinder AI - Find LinkedIn URL\"].json.result }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "fullName",
              "name": "fullName",
              "value": "={{ $json.fullName }}",
              "type": "string"
            },
            {
              "id": "jobTitle",
              "name": "jobTitle",
              "value": "={{ $json.jobTitle }}",
              "type": "string"
            },
            {
              "id": "companyName",
              "name": "companyName",
              "value": "={{ $json.companyName }}",
              "type": "string"
            },
            {
              "id": "location",
              "name": "location",
              "value": "={{ $json.location }}",
              "type": "string"
            },
            {
              "id": "about",
              "name": "about",
              "value": "={{ $json.about }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1780, 460],
      "name": "Format Enriched Lead"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "originalName"
            },
            {
              "fieldToAggregate": "originalCompany"
            },
            {
              "fieldToAggregate": "linkedinUrl"
            },
            {
              "fieldToAggregate": "email"
            },
            {
              "fieldToAggregate": "fullName"
            },
            {
              "fieldToAggregate": "jobTitle"
            },
            {
              "fieldToAggregate": "companyName"
            },
            {
              "fieldToAggregate": "location"
            },
            {
              "fieldToAggregate": "about"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2000, 460],
      "name": "Aggregate All Results"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "totalProcessed",
              "name": "totalProcessed",
              "value": "={{ $json.originalName.length }}",
              "type": "number"
            },
            {
              "id": "enrichedLeads",
              "name": "enrichedLeads",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "summary",
              "name": "summary",
              "value": "={{ 'Successfully enriched ' + $json.originalName.length + ' leads with LinkedIn profiles and contact information' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2220, 460],
      "name": "Final Results"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Input - Lead List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input - Lead List": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Batches": {
      "main": [
        [
          {
            "node": "LinkFinder AI - Find LinkedIn URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Find LinkedIn URL": {
      "main": [
        [
          {
            "node": "LinkFinder AI - Get Full Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Get Full Profile": {
      "main": [
        [
          {
            "node": "Format Enriched Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Enriched Lead": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Results": {
      "main": [
        [
          {
            "node": "Final Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}